# Python Data Structures Examples

Sample Data (5 elements) taken from MyGov website

# List

In [1]:
list1=["Maharashtra","Tamil Nadu","Delhi","Gujarat","Uttar Pradesh"]
list1

['Maharashtra', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Uttar Pradesh']

In [22]:
list2=[180298,94049,89802,33232,24056]
list2

[180298, 94049, 89802, 33232, 24056]

Sate wise Infected cases

In [25]:
print("State wise Infected COVID19 cases")
for i in range(len(list1)):
 print(list1[i]+": "+str(list2[i]))

State wise Infected personal
Maharashtra: 180298
Tamil Nadu: 94049
Delhi: 89802
Gujarat: 33232
Uttar Pradesh: 24056

# Tuple

In [19]:
tuple1=("Maharashtra","Tamil Nadu","Delhi","Gujarat","Uttar Pradesh")
tuple1

('Maharashtra', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Uttar Pradesh')

In [26]:
tuple2=[93154,52926,59992,24030,16629]
tuple2

[93154, 52926, 59992, 24030, 16629]

In [28]:
print("State wise Recovered COVID19 cases")
for i in range(len(tuple1)):
 print(tuple1[i]+": "+str(tuple2[i]))

State wise Recovered personal
Maharashtra: 93154
Tamil Nadu: 52926
Delhi: 59992
Gujarat: 24030
Uttar Pradesh: 16629

# Dictionary

In [32]:
Dictionary={"Maharashtra":79091,"Tamil Nadu":39589,"Delhi":27007,"Gujarat":7335,"Uttar Pradesh":6709}
Dictionary

{'Maharashtra': 79091,
 'Tamil Nadu': 39589,
 'Delhi': 27007,
 'Gujarat': 7335,
 'Uttar Pradesh': 6709}

In [39]:
print("State wise Active COVID19 cases")
for k,v in Dictionary.items():
 print(k,": ",v)

State wise Active COVID19 cases
Maharashtra :  79091
Tamil Nadu :  39589
Delhi :  27007
Gujarat :  7335
Uttar Pradesh :  6709